
<div>
  <h5>
    <%= title %>
  <span class="bg-gray-100 ml-2 px-2"
    id="<%= title === 'Overdue' ? 'count-overdue' :
           title === 'Due Today' ? 'count-due-today' :
           title === 'Due Later' ? 'count-due-later' :
           title === 'Completed Items' ? 'count-completed' : '' %>">
    <%= data.length %>
  </span>
  </h5>
  <table class="w-full table-auto">
  <thead>
    <tr>
      <th class="text-left">Title</th>
      <th class="text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < data.length; i++) { %>
    <tr>
      <td>
        <input type="checkbox" id="checkbox-<%= data[i].id %>" <%= data[i].completed ? "checked" : "" %> onclick="updateTodo(<%= data[i].id %>)" />
        <label for="checkbox-<%= data[i].id %>"><%= data[i].title %></label>
      </td>
      <td>
        <a href="#" onclick="deleteTodo(<%= data[i].id %>)" class="text-red-600">Delete</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
</div>
